server:
  servlet:
    context-path: / #porta padrão
  #port: 9090
spring:
  jackson: #api que pega json e transforma em objeto
    default-property-inclusion: non_null # Só insere na serialização propriedades nulas (o que for nulo não aparece pro usr)
  application:
    name: pmanager
  datasource:
    url: jdbc:h2:mem:test #Deixa padrão a porta do h2-console como test
    driverClassName: org.h2.Driver
    username: sa
    password:    #h2 não precisa de senha
  h2:
    console:
      enabled: true #ativa o h2-console na web localhost:8080/h2-console
  jpa:
    show-sql: true #mostra sql no console