server:
  servlet:
    context-path: / #porta padrão
  #port: 9090
spring:
  jackson: #api que pega json e transforma em objeto
    default-property-inclusion: non_null # Só insere na serialização propriedades nulas (o que for nulo não aparece pro usr)
  application:
    name: agendei
  datasource:
    url: jdbc:mysql://localhost:3306/agendei?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true #mostra sql no console
    hibernate:
      ddl-auto: create-drop  # update - padrão | create-drop - cria e deleta | none - nao faz nada no banco
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  h2:
    console:
      enabled: false #ativa o h2-console na web localhost:8080/h2-console